body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /*background-image: radial-gradient(#855988, #141852);*/
  background-image: url("./universe-dark.jpg");
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

video {
  width: 50%;
  margin-left: 25%;
}

h1 {
  color: #ffffff;
  text-align: center;
}

.charts {
  width: 80%;
}

.dropdown {
  font-family: Arial;
  background-color: whitesmoke;
  width: 200px;
  height: 30px;
  margin-left: 80%;
  font-size: medium;
}

/* --------------------------------NE events page - 2 ----------------------------*/
.nevents {
  /* background-image: linear-gradient(0deg, #141852, #855988); */
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
}
.navbar {
  background-color: #070b34;
  color: whitesmoke;
  padding: 2vh 1vw;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-controls {
  display: flex;
  flex-direction: row;
}

.nav-controls > div {
  padding: 0 1em;
}

.nav-controls > input {
  border: 0;
  border-radius: 3px;
  padding: 5px;
  width: 48px;
  margin: 0 5px;
}

.nav-controls > input:hover {
  box-shadow: inset -1px -1px 2px 1px rgba(0, 0, 0, 0.5);
}

.number_events {
  color: white;
  padding: 5px;
  margin: 5px;
  font-style: italic;
}

.number_events > span {
  font-style: normal;
  color: #855988;
  font-size: 10vh;
}

.nevents_container {
  display: grid;
  grid-template-rows: 45vh 45vh;
  grid-template-columns: repeat(4, 1fr);
}

.nevents_item {
  background-color: #141852;
}

.nevents_world {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 4;
}

.nevents_heatmap {
  grid-column: 2 / span 3;
}

/* -----------------------------------------END----------------------------------*/
